<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  
  <ServerName>sql4002.shared-servers.com,1086</ServerName>
  <DBName>marefa</DBName>
  <DBUserName>marefateam</DBUserName>
  <DBPassword>123@marefa</DBPassword>
  <isRemembered></isRemembered>
  <UserName>use2</UserName>
  <UserID></UserID>
  <BranchID></BranchID>
  <PC_IP></PC_IP>
  
</Settings>

